{% extends 'BloggerBlogBundle::layout.html.twig' %}

{% block title %}
  Contact us
{% endblock %}

{% block body %}
    <header>
        <h1>Contact us</h1>
    </header>
    <article>
        <form class="blogger" action="{{ path('BBBundle_contact') }}" method="post" {{ form_enctype(form) }}>
            {{ form_errors(form) }}

            {{ form_row(form.name) }}
            {{ form_row(form.email) }}
            {{ form_row(form.subject) }}
            {{ form_row(form.body) }}

            {{ form_rest(form) }}
            <input type="submit">
        </form>
    </article>
{% endblock %}
