{% extends 'BloggerBlogBundle::layout.html.twig' %}


{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/pagerfanta.css') }}" type="text/css" media="all" />
{% endblock %}

{% block title %}
  Main page
{% endblock %}

{% block body %}
    {% for blog in blogs %}
<article>
    <div class="date">
        <time datetime="blog.created | date('c')">
            Created {{ blog.created | date('j, F') }}
        </time>
    </div>
    <header><h2><a href="{{ path('BBBundle_blog_show', {'object': blog}) }}">{{ blog.title }}</a></h2></header>
    <img src="{{ asset(['images/', blog.image]|join) }}" alt="{{ blog.title }}">
    <div class="snippet">
        <p>{{ blog.body(50) }}...</p>
        <p class="continue"><a href="{{ path('BBBundle_blog_show', {'object': blog}) }}">Continue reading..</a></p>
    </div>
    <footer class="meta">
        <p>
            <a href="{{ path('BBBundle_blog_show', {'object': blog}) }}#comments">
                Comments: {{ blog.comments|length }}
            </a>
        </p>
        <p>
            Posted by <span class="highlight">{{ blog.author }}</span> at
            <date timestamp="{{ blog.created|date('c') }}">{{ blog.created|date('h:iA') }}</date>
        </p>
    </footer>
</article>
    {% else %}
<p>There are no articles yet</p>
    {% endfor %}

<div class="pagerfanta">
    {{ pagerfanta(pager, 'default', {'routeName': 'BBBundle_homepage'}) }}
</div>
{% endblock %}
