{% extends '::base.html.twig' %}

{% block sidebar %}
  {% render 'BloggerBlogBundle:Page:sidebar' %}
{% endblock %}

{% block stylesheets %}
  {{ parent() }}
  <link rel="stylesheet" href="{{ asset('bundles/bloggerblog/css/blog.css') }}" type="text/css" />
  <link rel="stylesheet" href="{{ asset('bundles/bloggerblog/css/sidebar.css') }}" type="text/css" />
{% endblock %}

{% block navigation %}
  <nav>
    <ul class="navigation">
        <li><a href="{{ path('BBBundle_homepage') }}">Home</a></li>
        <li><a href="{{ path('BBBundle_about') }}">About</a></li>
        <li><a href="{{ path('BBBundle_contact') }}">Contact</a></li>
    </ul>
  </nav>
{% endblock %}
