{% for comment in comments %}
<article class="comment {{ cycle(['even','odd'], loop.index0) }}" id="comment-{{ comment.id }}">
    <header>
        <span class="highlight">{{ comment.author }}</span>
        {% if show_date|default(1) %}
            commented <time datetime="{{ comment.created|date('c') }}">{{ comment.created|date_ago }}</time>
        {% endif %}

        {% if show_link|default(0) %}
            commented on <a href="{{ path('BBBundle_blog_show', {'object': comment.blog}) }}#comment-{{ comment.id }}">"{{ comment.blog.title }}"</a>
        {% endif %}
    </header>
    <p>{{ comment.body }}</p>
</article>
{% else %}
    There are no comments yet
{% endfor %}
